template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: GB Ordering tool pipeline for SchoolKitchen

Parameters:
  PermissionsBoundaryArn:
    Type: String
    Description: arn:aws:iam::804073403250:policy/WS-01SP-pol_PlatformUserBoundary

  ServiceNamespace:
    Type: String
    Description: Service namespace
    Default: data-foundations

  ServiceName:
    Type: String
    Description: Service name
    Default: bp-df-sl-dt-focas

  ScriptsBucketName:
    Type: String
    Description: Bucket where all scripts are stored
    Default: scripts

  LogsBucketName:
    Type: String
    Description: Bucket where all logs are stored
    Default: logs

  AccountName:
    Type: String
    Description: ws-focas

  AccountId:
    Type: String
    Description: AccountID can be found in identity access management

  DeltaDay:
    Type: String
    Description: "delta day value"
    Default: 7

  DeltaWeek:
    Type: String
    Description: "delta week value"
    Default: 2

  SourceDatabase:
    Type: String
    Description: "source database name"
    Default: "schoolkitcheninventory"

  TargetDatabase:
    Type: String
    Description: "target database name"
    Default: "schoolkitcheninventory"

  WranglerLambdaLayerArn:
    Description: "Wrangler lambda layer ARN from S3"
    Type: String

  AlarmNotificationEmail:
    Type: String
    Description: "david.nicholson@schoolkitchen.com"
    Default: "james.cooper@schoolkitchen.com"

  Domain:
    Type: String
    Description: Email domain
    Default: "schoolkitchen.com"

  SenderUser:
    Type: String
    Description: Sender User to send email notification
    Default: "david.nicholson@schoolkitchen.com"

  RecipientUser:
    Type: String
    Description: Recipent User to receive email notification
    Default: "david.nicholson@schoolkitchen.com"

  TestRecipientUser:
    Type: String
    Description: "david.nicholson@schoolkitchen.com"

Globals:
  Function:
    Timeout: 120
    Tracing: Active
    MemorySize: 512
    Runtime: python3.8
    PermissionsBoundary: !Ref PermissionsBoundaryArn
    Layers:
      - !Ref CommonLayer
    Environment:
      Variables:
        POWERTOOLS_METRICS_NAMESPACE: !Ref ServiceNamespace
        POWERTOOLS_SERVICE_NAME: !Ref ServiceName
        LOG_LEVEL: INFO

Resources:
  ScriptsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-${ScriptsBucketName}

  LogsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-${LogsBucketName}

  UKWholesaleOrderingBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-ukwholesaleordering-${AWS::Region}
      # NotificationConfiguration:
      #   TopicConfigurations:
      #     - Event: s3:ObjectCreated:*
      #       Topic: !Ref OrderOutputTopic
      #       Filter:
      #         S3Key:
      #           Rules:
      #             - Name: suffix
      #               Value: '.csv'
      #             - Name: prefix
      #               Value: 'email_attachments/'
      #     - Event: s3:ObjectCreated:*
      #       Topic: !Ref 28DayEmailAttTopic
      #       Filter:
      #         S3Key:
      #           Rules:
      #             - Name: suffix
      #               Value: '.csv'
      #             - Name: prefix
      #               Value: '28day_email_attachments/'
      #     - Event: s3:ObjectCreated:*
      #       Topic: !Ref SiteOrderTopic
      #       Filter:
      #         S3Key:
      #           Rules:
      #             - Name: prefix
      #               Value: 'site_order_json/'
      #     - Event: s3:ObjectCreated:*
      #       Topic: !Ref DCOrderTopic
      #       Filter:
      #         S3Key:
      #           Rules:
      #             - Name: prefix
      #               Value: 'DC_order_json/'

  # UKWholesaleOrderingBucketBucketPolicy:
  #   Type: AWS::S3::BucketPolicy
  #   DependsOn:
  #     - UKWholesaleOrderingBucket
  #   Properties:
  #     Bucket: !Ref UKWholesaleOrderingBucket
  #     PolicyDocument:
  #       Statement:
  #         -
  #           Action:
  #             - s3:GetObject
  #             - s3:ListBucket
  #           Effect: Allow
  #           Resource:
  #             - !Sub arn:aws:s3:::${UKWholesaleOrderingBucket}
  #             - !Sub arn:aws:s3:::${UKWholesaleOrderingBucket}/DC_order_json/*
  #             - !Sub arn:aws:s3:::${UKWholesaleOrderingBucket}/site_order_json/*
  #           Principal:
  #             AWS: !Ref DIPRoleForBucketAccess

  CommonLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Ref AWS::StackName
      ContentUri: ./functions/common
      CompatibleRuntimes:
        - python3.8
    Metadata:
      BuildMethod: python3.8

  AlarmTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub ${AWS::StackName}-alarms
      Subscription:
        - Protocol: email
          Endpoint: !Ref AlarmNotificationEmail

  AthenaScriptRunner:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: functions/athena_script_runner/
      Handler: app.lambda_handler
      Timeout: 900
      Environment:
        Variables:
          SCRIPTS_BUCKET_NAME: !Ref ScriptsBucket
          DF_ATHENA_OUTPUT_BUCKET_NAME: !Ref LogsBucket
          DATA_FOUNDATION_ENVIRONMENT: !Ref AccountName
          TARGET_DB: !Ref TargetDatabase
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref ScriptsBucket
        - S3CrudPolicy:
            BucketName: !Ref LogsBucket
        - S3CrudPolicy:
            BucketName: !Ref UKWholesaleOrderingBucket
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "glue:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "athena:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "s3:*"
              Resource: "*"

  OrderToolDataDeletionP1:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: functions/order_tool_date_deletion_p1/
      Handler: app.lambda_handler
      Timeout: 900
      Environment:
        Variables:
          SCRIPTS_BUCKET_NAME: !Ref ScriptsBucket
          DF_ATHENA_OUTPUT_BUCKET_NAME: !Ref LogsBucket
          DATA_FOUNDATION_ENVIRONMENT: !Ref AccountName
          DELTA_DAY: !Ref DeltaDay
          DELTA_WEEK: !Ref DeltaWeek
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref ScriptsBucket
        - S3CrudPolicy:
            BucketName: !Ref LogsBucket
        - S3CrudPolicy:
            BucketName: !Ref UKWholesaleOrderingBucket
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "glue:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "athena:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "s3:*"
              Resource: "*"

  OrderToolDataDeletionP2:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: functions/order_tool_date_deletion_p2/
      Handler: app.lambda_handler
      Timeout: 900
      Environment:
        Variables:
          SCRIPTS_BUCKET_NAME: !Ref ScriptsBucket
          DF_ATHENA_OUTPUT_BUCKET_NAME: !Ref LogsBucket
          DATA_FOUNDATION_ENVIRONMENT: !Ref AccountName
          DELTA_DAY: !Ref DeltaDay
          DELTA_WEEK: !Ref DeltaWeek
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref ScriptsBucket
        - S3CrudPolicy:
            BucketName: !Ref LogsBucket
        - S3CrudPolicy:
            BucketName: !Ref UKWholesaleOrderingBucket
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "glue:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "athena:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "s3:*"
              Resource: "*"

  OrderToolDataDeletionP3:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: functions/order_tool_date_deletion_p3/
      Handler: app.lambda_handler
      Timeout: 900
      Environment:
        Variables:
          SCRIPTS_BUCKET_NAME: !Ref ScriptsBucket
          DF_ATHENA_OUTPUT_BUCKET_NAME: !Ref LogsBucket
          DATA_FOUNDATION_ENVIRONMENT: !Ref AccountName
          DELTA_DAY: !Ref DeltaDay
          DELTA_WEEK: !Ref DeltaWeek
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref ScriptsBucket
        - S3CrudPolicy:
            BucketName: !Ref LogsBucket
        - S3CrudPolicy:
            BucketName: !Ref UKWholesaleOrderingBucket
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "glue:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "athena:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "s3:*"
              Resource: "*"

  SLDTGlueJobRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-glue-role
      PermissionsBoundary: !Ref PermissionsBoundaryArn
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "glue.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: "pc-glue-role-glue"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "glue:*"
                Resource: "*"
        - PolicyName: "pc-glue-role-s3"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "s3:*"
                Resource: "*"
        - PolicyName: "pc-glue-role-athena"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "athena:*"
                Resource: "*"
        - PolicyName: "pc-glue-role-logs"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "logs:*"
                Resource: "*"
        - PolicyName: "pc-glue-role-cloudwatch"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "cloudwatch:*"
                Resource: "*"

  OrderToolWhileLoop01GlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/ordertool_whileloop_01.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Delta_Day": !Ref DeltaDay
        "--Delta_Week": !Ref DeltaWeek
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 4
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 2
      Name: !Sub "${AWS::StackName}-while-loop-01"
      Role: !Ref SLDTGlueJobRole

  OrderToolWhileLoop02GlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/ordertool_whileloop_02.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Delta_Day": !Ref DeltaDay
        "--Delta_Week": !Ref DeltaWeek
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 4
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 2
      Name: !Sub "${AWS::StackName}-while-loop-02"
      Role: !Ref SLDTGlueJobRole

  OrderToolWhileLoop03GlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/ordertool_whileloop_03.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Delta_Day": !Ref DeltaDay
        "--Delta_Week": !Ref DeltaWeek
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 4
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 2
      Name: !Sub "${AWS::StackName}-while-loop-03"
      Role: !Ref SLDTGlueJobRole

  CreateStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub ${AWS::StackName}-create-pipeline
      PermissionsBoundary: !Ref PermissionsBoundaryArn
      Definition:
        StartAt: CreateDatabase
        States:
          CreateDatabase:
            Type: Task
            Next: ManualUploads
            Parameters:
              Arguments:
                "script_key": "athena/CreateScripts/create-db.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          ManualUploads:
            Type: Task
            Next: CreateStaging
            Parameters:
              Arguments:
                "script_key": "athena/CreateScripts/ManualUploads/create-manual-uploads.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CreateStaging:
            Type: Task
            Parameters:
              Arguments:
                "script_key": "athena/CreateScripts/Staging/create-staging.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref AthenaScriptRunner
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action:
                - "glue:StartJobRun"
                - "glue:GetJobRun"
                - "glue:GetJobRuns"
                - "glue:BatchStopJobRun"
              Resource: "*"

  CreateViewsStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub ${AWS::StackName}-create-views-pipeline
      PermissionsBoundary: !Ref PermissionsBoundaryArn
      Definition:
        StartAt: CreateView_dcorders
        States:
          CreateView_dcorders:
            Type: Task
            Next: CreateView_siteorders
            Parameters:
              Arguments:
                "script_key": "athena/Views/dcorders-view.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CreateView_siteorders:
            Type: Task
            Next: CreateView_fact_sls_dly
            Parameters:
              Arguments:
                "script_key": "athena/Views/siteorders-view.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CreateView_fact_sls_dly:
            Type: Task
            Next: CreateView_fact_stk_cnt_dly
            Parameters:
              Arguments:
                "script_key": "athena/Views/fact_sls_dly_from_odp.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CreateView_fact_stk_cnt_dly:
            Type: Task
            Parameters:
              Arguments:
                "script_key": "athena/Views/fact_stk_cnt_dly_from_odp.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref AthenaScriptRunner
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action:
                - "glue:StartJobRun"
                - "glue:GetJobRun"
                - "glue:GetJobRuns"
                - "glue:BatchStopJobRun"
              Resource: "*"

  InitialInsertStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub ${AWS::StackName}-initial-insert-pipeline
      PermissionsBoundary: !Ref PermissionsBoundaryArn
      Definition:
        StartAt: 0_DIM_DATE
        States:
          0_DIM_DATE:
            Type: Task
            Next: 0a_DIM_SITE
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/0_DIM_DATE_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          0a_DIM_SITE:
            Type: Task
            Next: 1_DIM_PRMTRS
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/0a_DIM_SITE_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          1_DIM_PRMTRS:
            Type: Task
            Next: 2_DIM_PROD_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/1_DIM_PRMTRS_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          2_DIM_PROD_SNAPSHOT:
            Type: Task
            Next: 3_DIM_ADJSTMNT_SNAPSHOT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/2_DIM_PROD_SNAPSHOT_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          3_DIM_ADJSTMNT_SNAPSHOT_DLY:
            Type: Task
            Next: 4_FACT_STK_CNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/3_DIM_ADJSTMNT_SNAPSHOT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          4_FACT_STK_CNT_DLY:
            Type: Task
            Next: 5_FACT_SLS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/4_FACT_STK_CNT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          5_FACT_SLS_DLY:
            Type: Task
            Next: 6_DIM_RNG_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/5_FACT_SLS_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          6_DIM_RNG_SNAPSHOT:
            Type: Task
            Next: 7a_DIM_RNG_DAY_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/6_DIM_RNG_SNAPSHOT_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7a_DIM_RNG_DAY_SNAPSHOT:
            Type: Task
            Next: 7b_DIM_ADJSTMNT_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7a_DIM_RNG_DAY_SNAPSHOT_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7b_DIM_ADJSTMNT_CLNDR_DLY:
            Type: Task
            Next: 7c_DIM_DEL_SCHDL
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7b_DIM_ADJSTMNT_CLNDR_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7c_DIM_DEL_SCHDL:
            Type: Task
            Next: 7d_CALC_LDTM_EXCPTNS
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7c_DIM_DEL_SCHDL_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7d_CALC_LDTM_EXCPTNS:
            Type: Task
            Next: 7e_DIM_DEL_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7d_CALC_LDTM_EXCPTNS_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7e_DIM_DEL_CLNDR_DLY:
            Type: Task
            Next: 7f_FACT_DLVRS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7e_DIM_DEL_CLNDR_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7f_FACT_DLVRS_DLY:
            Type: Task
            Next: 7g_FACT_DPT_STK_CNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7f_FACT_DLVRS_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7g_FACT_DPT_STK_CNT_DLY:
            Type: Task
            Next: 8_FACT_STK_MVMNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/BaseData/7g_FACT_DPT_STK_CNT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          8_FACT_STK_MVMNT_DLY:
            Type: Task
            Next: 9a_FACT_STK_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/8_FACT_STK_MVMNT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9a_FACT_STK_PROD_DLY:
            Type: Task
            Next: 9b_FACT_STK_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/9a_FACT_STK_PROD_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9b_FACT_STK_PROD_CAT_DLY:
            Type: Task
            Next: 9c_FACT_STK_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/9b_FACT_STK_PROD_CAT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9c_FACT_STK_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: 9d_FACT_STK_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/9c_FACT_STK_SUPER_PROD_CAT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9d_FACT_STK_CAT_DLY:
            Type: Task
            Next: 9e_FACT_STK_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/9d_FACT_STK_CAT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9e_FACT_STK_PROD_TYPE_DLY:
            Type: Task
            Next: 9f_DIM_FCST_CALC_EXCLSN_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/9e_FACT_STK_PROD_TYPE_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9f_DIM_FCST_CALC_EXCLSN_DLY:
            Type: Task
            Next: 10a_CALC_STK_PROD_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/9f_DIM_FCST_CALC_EXCLSN_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10a_CALC_STK_PROD_RNK_DLY:
            Type: Task
            Next: 10b_CALC_STK_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/10a_CALC_STK_PROD_RNK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10b_CALC_STK_PROD_CAT_RNK_DLY:
            Type: Task
            Next: 10c_CALC_STK_SUPER_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/10b_CALC_STK_PROD_CAT_RNK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10c_CALC_STK_SUPER_PROD_CAT_RNK_DLY:
            Type: Task
            Next: 10d_CALC_STK_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/10c_CALC_STK_SUPER_PROD_CAT_RNK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10d_CALC_STK_CAT_RNK_DLY:
            Type: Task
            Next: 10e_CALC_STK_PROD_TYPE_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/10d_CALC_STK_CAT_RNK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10e_CALC_STK_PROD_TYPE_RNK_DLY:
            Type: Task
            Next: 11a_CALC_WKDY_SLS_PCT_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/10e_CALC_STK_PROD_TYPE_RNK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11a_CALC_WKDY_SLS_PCT_PROD_DLY:
            Type: Task
            Next: 11b_CALC_WKDY_SLS_PCT_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/11a_CALC_WKDY_SLS_PCT_PROD_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11b_CALC_WKDY_SLS_PCT_PROD_CAT_DLY:
            Type: Task
            Next: 11c_CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/11b_CALC_WKDY_SLS_PCT_PROD_CAT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11c_CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: 11d_CALC_WKDY_SLS_PCT_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/11c_CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11d_CALC_WKDY_SLS_PCT_CAT_DLY:
            Type: Task
            Next: 11e_CALC_WKDY_SLS_PCT_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/11d_CALC_WKDY_SLS_PCT_CAT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11e_CALC_WKDY_SLS_PCT_PROD_TYPE_DLY:
            Type: Task
            Next: 12_FACT_WKDY_SLS_PCT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/11e_CALC_WKDY_SLS_PCT_PROD_TYPE_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          12_FACT_WKDY_SLS_PCT_DLY:
            Type: Task
            Next: 13_CALC_DEL_GRP_SLS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/12_FACT_WKDY_SLS_PCT_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          13_CALC_DEL_GRP_SLS_DLY:
            Type: Task
            Next: 14a_FACT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/13_CALC_DEL_GRP_SLS_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          14a_FACT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: 14b_FACT_DPT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/14a_FACT_NRML_SFTY_STK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          14b_FACT_DPT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: 15a_FACT_MEAN_WK_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/14b_FACT_DPT_NRML_SFTY_STK_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15a_FACT_MEAN_WK_FCST_DLY:
            Type: Task
            Next: 15c_FACT_FWD_WK_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/15a_FACT_MEAN_WK_FCST_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15c_FACT_FWD_WK_FCST_DLY:
            Type: Task
            Next: 15d_FACT_FWD_DAY_BASE_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/15c_FACT_FWD_WK_FCST_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15d_FACT_FWD_DAY_BASE_FCST_DLY:
            Type: Task
            Next: 15e_FACT_FWD_DAY_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/15d_FACT_FWD_DAY_BASE_FCST_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15e_FACT_FWD_DAY_FCST_DLY:
            Type: Task
            Next: 15f_FACT_FCST_IN_SHLF_LF_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/15e_FACT_FWD_DAY_FCST_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15f_FACT_FCST_IN_SHLF_LF_DLY:
            Type: Task
            Next: 16_FACT_STR_ORD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/15f_FACT_FCST_IN_SHLF_LF_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          16_FACT_STR_ORD_DLY:
            Type: Task
            Next: 17_FACT_DPT_ORD_BY_SDD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/16_FACT_STR_ORD_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          17_FACT_DPT_ORD_BY_SDD_DLY:
            Type: Task
            Next: 18_FACT_STR_ALLOC_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/17_FACT_DPT_ORD_BY_SDD_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          18_FACT_STR_ALLOC_DLY:
            Type: Task
            Next: 19_FACT_DPT_ORD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/18_FACT_STR_ALLOC_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          19_FACT_DPT_ORD_DLY:
            Type: Task
            Next: 20_CHECK_TABLE_DATA_DLY
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/19_FACT_DPT_ORD_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          20_CHECK_TABLE_DATA_DLY:
            Type: Task
            Parameters:
              Arguments:
                "script_key": "athena/InitialInsertScripts/Staging/TransformedData/20_CHECK_TABLE_DATA_DLY_Initial_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref AthenaScriptRunner
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action:
                - "glue:StartJobRun"
                - "glue:GetJobRun"
                - "glue:GetJobRuns"
                - "glue:BatchStopJobRun"
              Resource: "*"

  DailyInsertStateMachineAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref DailyInsertStateMachine
      Statistic: Sum
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Period: 300
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      AlarmActions:
        - !Ref AlarmTopic

  DailyInsertStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub ${AWS::StackName}-daily-insert-pipeline
      PermissionsBoundary: !Ref PermissionsBoundaryArn
      Events:
        CWSchedule:
          Type: Schedule
          Properties:
            Schedule: "cron(00 09 * * ? *)" # At 09:00 AM every day
            Name: !Sub ${AccountName}-SLDTDailyInsertSchedule
            Description: Daily insert script schedule for SL DT
      Definition:
        StartAt: order_tool_date_deletion_p1
        States:
          order_tool_date_deletion_p1:
            Type: Task
            Next: 00_CALC_MAX_DATES_1
            ResultPath: null
            Resource: !GetAtt OrderToolDataDeletionP1.Arn
          00_CALC_MAX_DATES_1:
            Type: Task
            Next: 00a_CALC_MAX_CHAR_DATES
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/00_CALC_MAX_DATES_1_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          00a_CALC_MAX_CHAR_DATES:
            Type: Task
            Next: 0a_DIM_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/00a_CALC_MAX_CHAR_DATES_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          0a_DIM_SITE:
            Type: Task
            Next: 1_DIM_PRMTRS
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/0a_DIM_SITE_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          1_DIM_PRMTRS:
            Type: Task
            Next: 2_DIM_PROD_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/1_DIM_PRMTRS_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          2_DIM_PROD_SNAPSHOT:
            Type: Task
            Next: 3_DIM_ADJSTMNT_SNAPSHOT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/2_DIM_PROD_SNAPSHOT_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          3_DIM_ADJSTMNT_SNAPSHOT_DLY:
            Type: Task
            Next: 4_FACT_STK_CNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/3_DIM_ADJSTMNT_SNAPSHOT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          4_FACT_STK_CNT_DLY:
            Type: Task
            Next: 5_FACT_SLS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/4_FACT_STK_CNT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          5_FACT_SLS_DLY:
            Type: Task
            Next: 6_DIM_RNG_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/5_FACT_SLS_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          6_DIM_RNG_SNAPSHOT:
            Type: Task
            Next: 7a_DIM_RNG_DAY_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/6_DIM_RNG_SNAPSHOT_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7a_DIM_RNG_DAY_SNAPSHOT:
            Type: Task
            Next: 7b_DIM_ADJSTMNT_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7a_DIM_RNG_DAY_SNAPSHOT_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7b_DIM_ADJSTMNT_CLNDR_DLY:
            Type: Task
            Next: 7c_DIM_DEL_SCHDL
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7b_DIM_ADJSTMNT_CLNDR_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7c_DIM_DEL_SCHDL:
            Type: Task
            Next: 7d_CALC_LDTM_EXCPTNS
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7c_DIM_DEL_SCHDL_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7d_CALC_LDTM_EXCPTNS:
            Type: Task
            Next: 7e_DIM_DEL_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7d_CALC_LDTM_EXCPTNS_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7e_DIM_DEL_CLNDR_DLY:
            Type: Task
            Next: 7f_FACT_DLVRS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7e_DIM_DEL_CLNDR_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7f_FACT_DLVRS_DLY:
            Type: Task
            Next: 7g_FACT_DPT_STK_CNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7f_FACT_DLVRS_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          7g_FACT_DPT_STK_CNT_DLY:
            Type: Task
            Next: 8_FACT_STK_MVMNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/BaseData/7g_FACT_DPT_STK_CNT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          8_FACT_STK_MVMNT_DLY:
            Type: Task
            Next: WhileLoopGlue01
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/8_FACT_STK_MVMNT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          WhileLoopGlue01:
            Type: Task
            Next: 9b_FACT_STK_PROD_CAT_DLY
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolWhileLoop01GlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Delta_Day": !Ref DeltaDay
                "--Delta_Week": !Ref DeltaWeek
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
          9b_FACT_STK_PROD_CAT_DLY:
            Type: Task
            Next: 9c_FACT_STK_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/9b_FACT_STK_PROD_CAT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9c_FACT_STK_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: 9d_FACT_STK_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/9c_FACT_STK_SUPER_PROD_CAT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9d_FACT_STK_CAT_DLY:
            Type: Task
            Next: 9e_FACT_STK_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/9d_FACT_STK_CAT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9e_FACT_STK_PROD_TYPE_DLY:
            Type: Task
            Next: 9f_DIM_FCST_CALC_EXCLSN_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/9e_FACT_STK_PROD_TYPE_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9f_DIM_FCST_CALC_EXCLSN_DLY:
            Type: Task
            Next: 10a_CALC_STK_PROD_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/9f_DIM_FCST_CALC_EXCLSN_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10a_CALC_STK_PROD_RNK_DLY:
            Type: Task
            Next: 10b_CALC_STK_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/10a_CALC_STK_PROD_RNK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10b_CALC_STK_PROD_CAT_RNK_DLY:
            Type: Task
            Next: 10c_CALC_STK_SUPER_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/10b_CALC_STK_PROD_CAT_RNK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10c_CALC_STK_SUPER_PROD_CAT_RNK_DLY:
            Type: Task
            Next: 10d_CALC_STK_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/10c_CALC_STK_SUPER_PROD_CAT_RNK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10d_CALC_STK_CAT_RNK_DLY:
            Type: Task
            Next: 10e_CALC_STK_PROD_TYPE_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/10d_CALC_STK_CAT_RNK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          10e_CALC_STK_PROD_TYPE_RNK_DLY:
            Type: Task
            Next: 11a_CALC_WKDY_SLS_PCT_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/10e_CALC_STK_PROD_TYPE_RNK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11a_CALC_WKDY_SLS_PCT_PROD_DLY:
            Type: Task
            Next: 11b_CALC_WKDY_SLS_PCT_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/11a_CALC_WKDY_SLS_PCT_PROD_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11b_CALC_WKDY_SLS_PCT_PROD_CAT_DLY:
            Type: Task
            Next: 11c_CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/11b_CALC_WKDY_SLS_PCT_PROD_CAT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11c_CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: 11d_CALC_WKDY_SLS_PCT_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/11c_CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11d_CALC_WKDY_SLS_PCT_CAT_DLY:
            Type: Task
            Next: 11e_CALC_WKDY_SLS_PCT_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/11d_CALC_WKDY_SLS_PCT_CAT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          11e_CALC_WKDY_SLS_PCT_PROD_TYPE_DLY:
            Type: Task
            Next: 12_FACT_WKDY_SLS_PCT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/11e_CALC_WKDY_SLS_PCT_PROD_TYPE_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          12_FACT_WKDY_SLS_PCT_DLY:
            Type: Task
            Next: 13_CALC_DEL_GRP_SLS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/12_FACT_WKDY_SLS_PCT_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          13_CALC_DEL_GRP_SLS_DLY:
            Type: Task
            Next: 14a_FACT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/13_CALC_DEL_GRP_SLS_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          14a_FACT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: 14b_FACT_DPT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/14a_FACT_NRML_SFTY_STK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          14b_FACT_DPT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: order_tool_date_deletion_p2
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/14b_FACT_DPT_NRML_SFTY_STK_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          order_tool_date_deletion_p2:
            Type: Task
            Next: 15_CALC_MAX_DATES_2
            ResultPath: null
            Resource: !GetAtt OrderToolDataDeletionP2.Arn
          15_CALC_MAX_DATES_2:
            Type: Task
            Next: 9f_DIM_FCST_CALC_EXCLSN_DLY_B
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/15_CALC_MAX_DATES_2_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          9f_DIM_FCST_CALC_EXCLSN_DLY_B:
            Type: Task
            Next: order_tool_date_deletion_p3
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/9f_DIM_FCST_CALC_EXCLSN_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          order_tool_date_deletion_p3:
            Type: Task
            Next: 15_CALC_MAX_DATES_3
            ResultPath: null
            Resource: !GetAtt OrderToolDataDeletionP3.Arn
          15_CALC_MAX_DATES_3:
            Type: Task
            Next: WhileLoopGlue02
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/15_CALC_MAX_DATES_3_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          WhileLoopGlue02:
            Type: Task
            Next: 15c_FACT_FWD_WK_FCST_DLY
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolWhileLoop02GlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Delta_Day": !Ref DeltaDay
                "--Delta_Week": !Ref DeltaWeek
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
          15c_FACT_FWD_WK_FCST_DLY:
            Type: Task
            Next: 15d_FACT_FWD_DAY_BASE_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/15c_FACT_FWD_WK_FCST_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15d_FACT_FWD_DAY_BASE_FCST_DLY:
            Type: Task
            Next: 15e_FACT_FWD_DAY_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/15d_FACT_FWD_DAY_BASE_FCST_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15e_FACT_FWD_DAY_FCST_DLY:
            Type: Task
            Next: 15f_FACT_FCST_IN_SHLF_LF_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/15e_FACT_FWD_DAY_FCST_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          15f_FACT_FCST_IN_SHLF_LF_DLY:
            Type: Task
            Next: WhileLoopGlue03
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/15f_FACT_FCST_IN_SHLF_LF_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          WhileLoopGlue03:
            Type: Task
            Next: 19_FACT_DPT_ORD_DLY
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolWhileLoop03GlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Delta_Day": !Ref DeltaDay
                "--Delta_Week": !Ref DeltaWeek
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
          19_FACT_DPT_ORD_DLY:
            Type: Task
            Next: 19a_FACT_DPT_ORD_DLY_2
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/19_FACT_DPT_ORD_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          19a_FACT_DPT_ORD_DLY_2:
            Type: Task
            Next: 20_CHECK_TABLE_DATA_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/19a_FACT_DPT_ORD_DLY_2_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          20_CHECK_TABLE_DATA_DLY:
            Type: Task
            Next: allocation_consumption
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/Staging/TransformedData/20_CHECK_TABLE_DATA_DLY_Daily_insert.sql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          allocation_consumption:
            Type: Task
            Next: order_consumption
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolAllocationConsumptionGlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
          order_consumption:
            Type: Task
            Next: DIM_PRMTRS
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolOrderConsumptionGlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
          DIM_PRMTRS:
            Type: Task
            Next: DIM_ADJSTMNT_SNAPSHOT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prmtrs.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_ADJSTMNT_SNAPSHOT_DLY:
            Type: Task
            Next: DIM_PROD_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_adjstmnt_snapshot_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_PROD_SNAPSHOT:
            Type: Task
            Next: fact_stk_cnt_dly
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prod_snapshot.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          fact_stk_cnt_dly:
            Type: Task
            Next: FACT_DPT_STK_CNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_cnt_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_STK_CNT_DLY:
            Type: Task
            Next: FACT_DLVRS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_stk_cnt_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DLVRS_DLY:
            Type: Task
            Next: fact_sls_dly
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dlvrs_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          fact_sls_dly:
            Type: Task
            Next: DIM_RNG_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_sls_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_RNG_SNAPSHOT:
            Type: Task
            Next: DIM_RNG_DAY_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_rng_snapshot.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_RNG_DAY_SNAPSHOT:
            Type: Task
            Next: DIM_ADJSTMNT_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_rng_day_snapshot.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_ADJSTMNT_CLNDR_DLY:
            Type: Task
            Next: FACT_STK_MVMNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_adjstmnt_clndr_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_MVMNT_DLY:
            Type: Task
            Next: FACT_STK_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_mvmnt_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_PROD_DLY:
            Type: Task
            Next: FACT_STK_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_prod_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_PROD_CAT_DLY:
            Type: Task
            Next: FACT_STK_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: FACT_STK_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_super_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_CAT_DLY:
            Type: Task
            Next: FACT_STK_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_PROD_TYPE_DLY:
            Type: Task
            Next: DIM_FCST_CALC_EXCLSN_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_prod_type_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_FCST_CALC_EXCLSN_DLY:
            Type: Task
            Next: CALC_STK_PROD_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_fcst_calc_exclsn_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_PROD_RNK_DLY:
            Type: Task
            Next: CALC_STK_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_prod_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_PROD_CAT_RNK_DLY:
            Type: Task
            Next: CALC_STK_SUPER_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_prod_cat_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_SUPER_PROD_CAT_RNK_DLY:
            Type: Task
            Next: CALC_STK_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_super_prod_cat_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_CAT_RNK_DLY:
            Type: Task
            Next: CALC_STK_PROD_TYPE_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_cat_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_PROD_TYPE_RNK_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_prod_type_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_PROD_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_prod_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_PROD_CAT_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_super_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_CAT_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_PROD_TYPE_DLY:
            Type: Task
            Next: FACT_WKDY_SLS_PCT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_prod_type_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_WKDY_SLS_PCT_DLY:
            Type: Task
            Next: CALC_DEL_GRP_SLS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_wkdy_sls_pct_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_DEL_GRP_SLS_DLY:
            Type: Task
            Next: FACT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_del_grp_sls_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: FACT_DPT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_nrml_sfty_stk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: FACT_MEAN_WK_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_nrml_sfty_stk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_MEAN_WK_FCST_DLY:
            Type: Task
            Next: FACT_FWD_WK_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_mean_wk_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FWD_WK_FCST_DLY:
            Type: Task
            Next: FACT_FWD_DAY_BASE_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fwd_wk_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FWD_DAY_BASE_FCST_DLY:
            Type: Task
            Next: FACT_FWD_DAY_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fwd_day_base_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FWD_DAY_FCST_DLY:
            Type: Task
            Next: FACT_FCST_IN_SHLF_LF_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fwd_day_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FCST_IN_SHLF_LF_DLY:
            Type: Task
            Next: FACT_STR_ORD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fcst_in_shlf_lf_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STR_ORD_DLY:
            Type: Task
            Next: FACT_DPT_ORD_BY_SDD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_str_ord_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_ORD_BY_SDD_DLY:
            Type: Task
            Next: FACT_DPT_ORD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_ord_by_sdd_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_ORD_DLY:
            Type: Task
            Next: FACT_STR_ALLOC_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_ord_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STR_ALLOC_DLY:
            Type: Task
            Next: FACT_DIM_DEL_SCHDL
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_str_alloc_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DIM_DEL_SCHDL:
            Type: Task
            Next: FACT_DIM_DEL_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_del_schdl.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DIM_DEL_CLNDR_DLY:
            Type: Task
            Next: DIM_ADJSTMNT_SNAPSHOT_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_del_clndr_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_ADJSTMNT_SNAPSHOT_UPLOAD:
            Type: Task
            Next: DIM_DATE_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_adjstmnt_snapshot_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_DATE_UPLOAD:
            Type: Task
            Next: DIM_DEL_LDTM
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_date_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_DEL_LDTM:
            Type: Task
            Next: DIM_NEW_PROD_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_del_ldtm.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_NEW_PROD_SITE:
            Type: Task
            Next: DIM_NEW_PROD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_new_prod_site.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_NEW_PROD:
            Type: Task
            Next: DIM_NEW_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_new_prod.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_NEW_SITE:
            Type: Task
            Next: DIM_PRMTRS_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_new_site.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_PRMTRS_UPLOAD:
            Type: Task
            Next: DIM_PROD_SNAPSHOT_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prmtrs_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_PROD_SNAPSHOT_UPLOAD:
            Type: Task
            Next: DIM_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prod_snapshot_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_SITE:
            Type: Task
            Next: FACT_DPT_STK_CNT_DLY_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_site.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_STK_CNT_DLY_UPLOAD:
            Type: Task
            Next: egress_dcorder
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_stk_cnt_dly_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          egress_dcorder:
            Type: Task
            Next: egress_siteorder
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolEgressDCordersGlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
          egress_siteorder:
            Type: Task
            Resource: "arn:aws:states:::glue:startJobRun.sync"
            Parameters:
              JobName: !Ref OrderToolEgressSiteordersGlueJob
              Arguments:
                "--Environment": !Ref AccountName
                "--Source_DB": !Ref SourceDatabase
                "--Target_DB": !Ref TargetDatabase
            ResultPath: null
            Retry:
              - ErrorEquals: ["States.ALL"]
                BackoffRate: 1
                IntervalSeconds: 5
                MaxAttempts: 5
                Comment: retry
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref AthenaScriptRunner
        - LambdaInvokePolicy:
            FunctionName: !Ref OrderToolDataDeletionP1
        - LambdaInvokePolicy:
            FunctionName: !Ref OrderToolDataDeletionP2
        - LambdaInvokePolicy:
            FunctionName: !Ref OrderToolDataDeletionP3
        - LambdaInvokePolicy:
            FunctionName: !Ref GetCurrentDay
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action:
                - "glue:StartJobRun"
                - "glue:GetJobRun"
                - "glue:GetJobRuns"
                - "glue:BatchStopJobRun"
              Resource: "*"

  ReloadTablesStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub ${AWS::StackName}-reload-tables-pipeline
      PermissionsBoundary: !Ref PermissionsBoundaryArn
      Definition:
        StartAt: DIM_PRMTRS
        States:
          DIM_PRMTRS:
            Type: Task
            Next: DIM_ADJSTMNT_SNAPSHOT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prmtrs.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_ADJSTMNT_SNAPSHOT_DLY:
            Type: Task
            Next: DIM_PROD_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_adjstmnt_snapshot_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_PROD_SNAPSHOT:
            Type: Task
            Next: fact_stk_cnt_dly
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prod_snapshot.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          fact_stk_cnt_dly:
            Type: Task
            Next: FACT_DPT_STK_CNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_cnt_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_STK_CNT_DLY:
            Type: Task
            Next: FACT_DLVRS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_stk_cnt_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DLVRS_DLY:
            Type: Task
            Next: fact_sls_dly
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dlvrs_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          fact_sls_dly:
            Type: Task
            Next: DIM_RNG_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_sls_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_RNG_SNAPSHOT:
            Type: Task
            Next: DIM_RNG_DAY_SNAPSHOT
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_rng_snapshot.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_RNG_DAY_SNAPSHOT:
            Type: Task
            Next: DIM_ADJSTMNT_CLNDR_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_rng_day_snapshot.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_ADJSTMNT_CLNDR_DLY:
            Type: Task
            Next: FACT_STK_MVMNT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_adjstmnt_clndr_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_MVMNT_DLY:
            Type: Task
            Next: FACT_STK_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_mvmnt_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_PROD_DLY:
            Type: Task
            Next: FACT_STK_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_prod_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_PROD_CAT_DLY:
            Type: Task
            Next: FACT_STK_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: FACT_STK_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_super_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_CAT_DLY:
            Type: Task
            Next: FACT_STK_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STK_PROD_TYPE_DLY:
            Type: Task
            Next: DIM_FCST_CALC_EXCLSN_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_stk_prod_type_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_FCST_CALC_EXCLSN_DLY:
            Type: Task
            Next: CALC_STK_PROD_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_fcst_calc_exclsn_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_PROD_RNK_DLY:
            Type: Task
            Next: CALC_STK_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_prod_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_PROD_CAT_RNK_DLY:
            Type: Task
            Next: CALC_STK_SUPER_PROD_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_prod_cat_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_SUPER_PROD_CAT_RNK_DLY:
            Type: Task
            Next: CALC_STK_CAT_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_super_prod_cat_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_CAT_RNK_DLY:
            Type: Task
            Next: CALC_STK_PROD_TYPE_RNK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_cat_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_STK_PROD_TYPE_RNK_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_PROD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_stk_prod_type_rnk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_PROD_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_prod_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_PROD_CAT_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_SUPER_PROD_CAT_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_CAT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_super_prod_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_CAT_DLY:
            Type: Task
            Next: CALC_WKDY_SLS_PCT_PROD_TYPE_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_cat_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_WKDY_SLS_PCT_PROD_TYPE_DLY:
            Type: Task
            Next: FACT_WKDY_SLS_PCT_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_wkdy_sls_pct_prod_type_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_WKDY_SLS_PCT_DLY:
            Type: Task
            Next: CALC_DEL_GRP_SLS_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_wkdy_sls_pct_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          CALC_DEL_GRP_SLS_DLY:
            Type: Task
            Next: FACT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/calc_del_grp_sls_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: FACT_DPT_NRML_SFTY_STK_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_nrml_sfty_stk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_NRML_SFTY_STK_DLY:
            Type: Task
            Next: FACT_MEAN_WK_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_nrml_sfty_stk_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_MEAN_WK_FCST_DLY:
            Type: Task
            Next: FACT_FWD_WK_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_mean_wk_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FWD_WK_FCST_DLY:
            Type: Task
            Next: FACT_FWD_DAY_BASE_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fwd_wk_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FWD_DAY_BASE_FCST_DLY:
            Type: Task
            Next: FACT_FWD_DAY_FCST_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fwd_day_base_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FWD_DAY_FCST_DLY:
            Type: Task
            Next: FACT_FCST_IN_SHLF_LF_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fwd_day_fcst_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_FCST_IN_SHLF_LF_DLY:
            Type: Task
            Next: FACT_STR_ORD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_fcst_in_shlf_lf_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STR_ORD_DLY:
            Type: Task
            Next: FACT_DPT_ORD_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_str_ord_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_ORD_DLY:
            Type: Task
            Next: FACT_STR_ALLOC_DLY
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_ord_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_STR_ALLOC_DLY:
            Type: Task
            Next: DIM_ADJSTMNT_SNAPSHOT_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_str_alloc_dly.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_ADJSTMNT_SNAPSHOT_UPLOAD:
            Type: Task
            Next: DIM_DATE_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_adjstmnt_snapshot_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_DATE_UPLOAD:
            Type: Task
            Next: DIM_DEL_LDTM
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_date_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_DEL_LDTM:
            Type: Task
            Next: DIM_NEW_PROD_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_del_ldtm.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_NEW_PROD_SITE:
            Type: Task
            Next: DIM_NEW_PROD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_new_prod_site.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_NEW_PROD:
            Type: Task
            Next: DIM_NEW_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_new_prod.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_NEW_SITE:
            Type: Task
            Next: DIM_PRMTRS_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_new_site.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_PRMTRS_UPLOAD:
            Type: Task
            Next: DIM_PROD_SNAPSHOT_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prmtrs_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_PROD_SNAPSHOT_UPLOAD:
            Type: Task
            Next: DIM_SITE
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_prod_snapshot_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          DIM_SITE:
            Type: Task
            Next: FACT_DPT_STK_CNT_DLY_UPLOAD
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/dim_site.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
          FACT_DPT_STK_CNT_DLY_UPLOAD:
            Type: Task
            Parameters:
              Arguments:
                "script_key": "athena/DailyInsertScripts/repair_tables/fact_dpt_stk_cnt_dly_upload.hql"
            ResultPath: null
            Resource: !GetAtt AthenaScriptRunner.Arn
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref AthenaScriptRunner
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action:
                - "glue:StartJobRun"
                - "glue:GetJobRun"
                - "glue:GetJobRuns"
                - "glue:BatchStopJobRun"
                - "athena:startQueryExecution"
                - "athena:stopQueryExecution"
                - "athena:getQueryExecution"
                - "athena:getDataCatalog"
                - "s3:GetBucketLocation"
                - "s3:GetObject"
                - "s3:ListBucket"
                - "s3:ListBucketMultipartUploads"
                - "s3:ListMultipartUploadParts"
                - "s3:AbortMultipartUpload"
                - "s3:CreateBucket"
                - "s3:PutObject"
              Resource: "*"

  OrderToolOrderConsumptionGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/order-consumption.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 4
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 2
      Name: !Sub "${AWS::StackName}-order-consumption"
      Role: !Ref SLDTGlueJobRole

  OrderToolAllocationConsumptionGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/allocation-consumption.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 4
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 2
      Name: !Sub "${AWS::StackName}-allocation-consumption"
      Role: !Ref SLDTGlueJobRole

  OrderToolEgressSiteordersGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/egress-siteorders.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 16
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 8
      Name: !Sub "${AWS::StackName}-egress-siteorders"
      Role: !Ref SLDTGlueJobRole

  OrderToolEgressDCordersGlueJob:
    Type: AWS::Glue::Job
    Properties:
      Command:
        Name: glueetl
        ScriptLocation: !Sub "s3://${AWS::StackName}-scripts/glue/egress-DCorders.py"
      DefaultArguments:
        "--job-bookmark-option": "job-bookmark-disable"
        "--Environment": !Ref AccountName
        "--Source_DB": !Ref SourceDatabase
        "--Target_DB": !Ref TargetDatabase
        "--job-language": "python"
        "--enable-metrics": True
        "--enable-continuous-cloudwatch-log": True
        "--enable-spark-ui": True
        "--enable-glue-datacatalog": True
      GlueVersion: "3.0"
      ExecutionProperty:
        MaxConcurrentRuns: 16
      MaxRetries: 2
      WorkerType: "G.1X"
      NumberOfWorkers: 8
      Name: !Sub "${AWS::StackName}-egress-dcorder"
      Role: !Ref SLDTGlueJobRole

  GetCurrentDay:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: functions/current_day/
      Handler: app.lambda_handler
      Timeout: 900
      Policies:
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "glue:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "athena:*"
              Resource: "*"
        - Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Action: "s3:*"
              Resource: "*"
